label {
color: #aaaaaa;
}
.orbeon .table td {
line-height:10px;
}
.xforms-repeat-selected-item-1 {
background-color: #BBBBBB
}
.fixed-header tbody{
  display:block;
  overflow:auto;
  max-height:200px;
  width:100%;
}
.fixed-header thead tr{
  display:block;
}
.branches-table th, .branches-table td {
width:6%;
}
.branches-table .address-cell {
width:41%;
}
