label {
color: #aaaaaa;
}
.orbeon .table td {
line-height:10px;
}
.xforms-repeat-selected-item-1 {
background-color: #BBBBBB
}
.fixed-header tbody{
  display:block;
  overflow:auto;
  max-height:200px;
  width:100%;
}
.fixed-header thead tr{
  display:block;
}
.branches-table th {
  background-color: #EEEEEE;
  color: #000000;
  height: 20px;
  width:6%;
  font-weight:bold !important;
}
.branches-table td {
width:6%;
}
.branches-table .address-cell {
width:41%;
}
.branches-actions {
    background-color: #eeeeee;
    height: 20px;
    padding-top: 5px;
    margin-top: 5px;
}
.branches-actions a {
color: #ff6600;
}
.branch-address-section h6 {
    background-image: none !important;
    background-color: #ffffff !important;
}
.branch-address-section a {
    font-weight: bold !important;
    font-size: 14px !important;
}
