label {
color: #aaaaaa;
}
.orbeon .table td {
line-height:10px;
}
.xforms-repeat-selected-item-1 {
background-color: #030303
}
.fixed_header tbody{
  display:block;
  overflow:auto;
  max-height:200px;
  width:100%;
}
.fixed_header thead tr{
  display:block;
}
